VITE_SUPABASE_URL=https://wdppsvdfzqviulrrrjjq.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6IndkcHBzdmRmenF2aXVscnJyampxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODY1MDY4NzgsImV4cCI6MjEwMjA4Mjg3OH0.9bVHZDHvvryaje8YgX_NwY_dwvCWy-Wk4Zo13C1c-oA
